.App {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 
    0 20px 20px rgba(0, 0, 0, 0.15),
    0 10px 10px rgba(0, 0, 0, 0.35);
}

.container {
  width: auto;
}

.header {
  padding: 22px 30px;
  display: flex;
  box-shadow: 
    0 3px 8px rgba(0, 0, 0, 0.10);
}

.logo {
  display: flex;
  margin-right: auto;
}

.hero__img {
  margin-top: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__img img {
  max-width: 395px;
}

.hero__body {
  padding-left: 36px;
  padding-bottom: 49px;
}

.hero__body h1 {
  margin: 0;
  margin-top: 32px;
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}

.hero__body p {
  margin: 0;
  margin-top: 16px;
  max-width: 320px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
}

.cards {
  padding: 0 37px 40px 37px;
  /* padding-left: 37px;
  padding-bottom: 30px; */
  display: flex;
  gap: 18px;
}